.app {
  display: flex; 
  flex-direction: column;
}

.app__header {
  display: flex;
  background: url('../assets/images/pattern-bg.png');
  height: 30vh;
}

.app__ipinfo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: -40px;
  z-index: 1000;
}

.app__map {
  height: 70vh;
  background-color: #eee;
  position: relative
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__title {
  color: white;
}

/* Form Search*/
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
}

.form__input {
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  flex-grow: 3;
}

.form__input:focus { 
  outline: none;
}

.form__btn {
  background: black;
  color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 40px;
  cursor: pointer;
  background-image: url('../assets/images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.form__error {
  font-size: 0.9em;
  color: #F3950D;
}

.form__loading {
  font-size: 0.9em;
  font-weight: bold;
  color: #F3950D;
}

/* Info Ip*/
.ipinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  border: solid 1px #eee;
}

.ipinfo__col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 15px;  
}

.ipinfo__label {
  font-size: 0.6rem;
  font-weight: bold;
  color: rgb(122, 117, 117);
}

.ipinfo__data {
  font-size: 1.2rem;
  font-size: bold;
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 3px 5px 3px 5px;
  border-radius: 0px 0px 5px 5px;
  background-color: #F4E185;
  color: black;
}

@media (max-width: 600px) {
  .app__header {
    display: flex;
    background: url('../assets/images/pattern-bg.png');
    height: 35vh;
  }

  .app__ipinfo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
    z-index: 2000;
  }

  .ipinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    border: solid 1px #eee;
  }
  
  .ipinfo__col {
    display: flex;
    height: 100px;
    padding: 8px 15px;  
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .app__header {
    height: 35vh;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app__header {
    height: 35vh;
  }
}